@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0A1826;
  --background: #BAD7EF;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
